.top{
    position: relative;
    height: 350px;
    background: rgb(18, 20, 22);
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    place-content: center;
    height: calc(100%);
}
.title{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    padding: 0px 4%;
    position: relative;
    color: white;
}
.ui{
    font-size: 48px;
    margin: 0px;
    line-height: 54px;
    text-shadow: rgb(85 85 85) 0px 0px 5px;
}
.form{
    width: 100%;
    height: 60px;
    margin: 0px auto;
    padding: 0px;
    max-width: 510px;
    position: relative;
    color: rgb(18, 20, 22);
    box-sizing: border-box;
}

.search{
    background: transparent;
    position: absolute;
    padding: 0px;
    width: 100%;
    min-height: 0px;
    z-index: 1;
}
.box{
    display: block;
    padding: 12px 12px 12px 48px;
    border-radius: 0.1875rem;
    border: 1px solid rgb(196, 200, 204);
    font-size: 1rem;
    width: 100%;
    flex: 1 1 0%;
    position: relative;
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
}
.box:focus{
    outline: none;
}

.svi{
    position: absolute;
    left: 10px;
    bottom: 75px;
}
.button{
    height: 60px;
    border: none;
    line-height: 60px;
    font-size: 1rem;
    width: 100%;
    position: relative;
    bottom: 60px;
    left: 380px;
    width: 130px;
    display: inline-block;
    background-color: rgb(67, 176, 42);
    overflow: hidden;

}