.parent{
    position: relative;
    overflow: hidden;
}

.badge{
   
  position: absolute;
  top: 10px;
  left: 205px;
  z-index: 1;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
    
  @media (max-width: 1000px){
    left: 500px;
  
  }
}

.svg:hover{
  fill: red;

}

.img{
   position: relative;
}

.link{
  text-decoration: none;
}

.img-sie{
  width: 100%;
   height: 15vw;
  object-fit: cover
}

